.root {
  width: 24px;
  height: 24px;
  align-items: flex-start;
  position: relative;
}
.logoTrans40x40Revers {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
